@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

@font-face {
    font-family: "Recharge";
    src: url("fonts/recharge.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-size: cover;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-areas: "header header" "sidebar body";
}

button {
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

input[type="button"] {
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="button"]:hover {
    background-color: #666;
}

input[type="submit"] {
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}
input[type="submit"]:hover {
    background-color: #666;
}

button:hover {
    background-color: #666;
}

select {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

input {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* OGÓLNE */

#sidebar img {
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar-content img {
    padding-left: 2px;
}

#body {
    grid-area: body;
    margin: 10px;
}

#header {
    grid-area: header;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

#menu {
    width: 75%;
    height: 100%;
    float: left;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;
}

#menu ul li {
    float: left;
    width: 100px;
    height: 100%;
    background-color: #333;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}

#menu ul li a:hover {
    background-color: #666;
}

#profile {
    width: 25%;
    height: 100%;
    float: right;
}

#profile p {
    margin-top: 15px;
    margin-left: 10px;
    color: #fff;
    margin-right: 20px;
    font-size: 23px;
}

#login_register_box {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
}

#login_register_box h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#login_register_box form {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

#login_register_box form input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

#login_register_box form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#login_register_box form input[type="submit"]:hover {
    background-color: #666;
}

#login_register_box p {
    text-align: center;
    margin-top: 20px;
}

#login_register_box p a {
    text-decoration: none;
    color: #333;
}

#login_register_box p a:hover {
    text-decoration: underline;
}

#add-exercise-panel {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
}

#add-exercise-panel h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#add-exercise-panel form {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

#add-exercise-panel form input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

#add-exercise-panel select {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

#add-exercise-panel form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-exercise-panel form input[type="submit"]:hover {
    background-color: #666;
}

#add-exercise-panel p {
    text-align: center;
    margin-top: 20px;
}

#add-exercise-panel p a {
    text-decoration: none;
    color: #333;
}

#add-exercise-panel p a:hover {
    text-decoration: underline;
}

#weightInput {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

#repsInput {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

#exercise-container {
    height: 40px;
    display: inline-block;
}

#panels {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.panels {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
}

.panels h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

.panels form {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

.panels form input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

.panels select {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

.panels form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.panels form input[type="submit"]:hover {
    background-color: #666;
}

.panels p {
    text-align: center;
    margin-top: 20px;
}

.panels p a {
    text-decoration: none;
    color: #333;
}

.panels p a:hover {
    text-decoration: underline;
}

#home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#home-page-intro {
    width: 100%;
    margin: 0;
}

#home-page-panels {
    display: flex;
    flex-wrap: wrap;
}

.home-page-panel {
    width: 400px;
    height: 450px;
    background-color: #fff;
    margin: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
    padding: 10px;
}

.home-page-panel h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

.home-page-panel p {
    text-align: center;
    margin-top: 12px;
}

.home-page-panel h3 {
    text-align: center;
    margin-top: 15px;
}

.home-page-panel form input {
    width: 300px;
    margin: 0 auto;
    margin-top: 5px;
}

#workouts table {
    width: 90%;
    margin: 0 auto;
}

#workouts table tr td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.exercise-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.exercise-container li {
    display: flex;
    padding: 10px;
    font-size: 110%;
    border-bottom: 1px solid #ccc;
}

#muscle-group-select {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#muscle-group-select option {
    font-size: 16px;
}

#sidebar {
    grid-area: sidebar;
    background-color: #333;
    text-decoration: none;
    color: white;
    position: fixed;
    height: 100vh;
    margin-top: 60px;
}

#sidebar a {
    text-decoration: none;
    color: white;
}

#sdb {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#sdb2 {
    position: fixed;
    bottom: 5px;
}

.sidebar-content {
    font-size: 24px;
    width: 170px;
}

.sidebar-content a {
    text-decoration: none;
    color: white;
    display: flex;
    height: 40px;
    justify-content: right;
}

.sidebar-content svg {
    margin-left: 11px;
}

#profile-info {
    padding-bottom: 20px;
}

#profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

#workout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workout-panel {
    width: 400px;
    height: auto;
    background-color: #fff;
    margin: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
    padding: 10px;
    justify-content: center;
}

#workout-header {
    width: 100%;
    justify-content: center;
    text-align: center;
}

#date-input-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#date-input-container label {
    margin-right: 10px;
    margin-top: 7px;
}

#date-input-container input {
    width: 130px;
    border-radius: 30px;
}

#workout-name-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#workout-name-container input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#exercise-input-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#exercise-input-container select {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#reps-input-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

#reps-input-container input {
    width: 170px;
}

#reps-input-container button {
    width: 170px;
}

#draft-sets-container {
    justify-content: space-around;
}

#draft-sets-container button {
    width: 350px;
    margin: 5px;
    transition: 0.3s;
}

#draft-sets-container button:hover {
    background-color: #666;
}

#draft-sets-container input {
    width: 170px;
    margin: 5px;
}

/* PROGRESS */
.progress {
    background-color: #fff;
    height: 1em;
    width: 320px;
    margin: auto;
}
.progress-bar {
    background-image: linear-gradient(
        to right,
        #00eeff 10%,
        #00ff22 20%,
        #eeff00 50%,
        #ffb700 75%,
        #ff2200 100%
    );
    background-size: 320px 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

#marker {
    position: absolute;
    width: 4px;
    height: 1.5em;
    background-color: #333;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
}

#level {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
}

.profile-page-panel {
    width: 24%;
    float: left;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 -3px 3px #333;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
}

.dropdown-content {
    display: none;
    padding: 10px;
    margin-top: 30px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 3px 3px #333;
    z-index: 1;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: #ffffff;
    
}
  
.profile-page-panel:hover .dropdown-content {
    display: block;
    width: 100%;
}

#profile-measurement {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#update-measurements {
    width: 100%;
    display: flex;
    justify-content: center;
}

#profile-page-measurements {
    width: auto;
    float: left;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.separator {
    height: 160px;
    width: 3px;
    background-color: #333;
    border-radius: 2px;
    box-shadow: 0 0 3px #000000;
}

#setsFieldsContainer {
    padding: 0 5px;
}

#setsFieldsFirst {
    display: flex;
    justify-content: space-evenly;
}

#setsFieldsFirst input {
    width: 170px;
    border: 1px solid #ccc;
}

.setsFields {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background-color: blue;
}

.setsFields input {
    width: 170px;
    border: 1px solid #ccc;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

#buttons button {
    width: 170px;
}

/* moment, gotuje */
  


/* moment, gotuje */