<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Workout Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="../static/script.js"></script>
    </head>
    <body>
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Workout</a></li>
                <li><a href="#">Progress</a></li>
                <li><a href="#">Strength</a></li>
                <li><a href="{{ url_for('admin') }}">Admin page</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
        {% if 'username' in session %}
        <div id="profile">
            <a href="{{ url_for('home') }}">
                <b><p>{{ session['username'] }}</p></b>
            </a>
        </div>
        {% endif %}
    </div>
    <div>
        <div id="add-exercise-panel">
            <br>
            <h1>Add exercise</h1>
            <form action="{{ url_for('admin') }}" method="post">
                <input type="text" name="exercise" placeholder="Name" required><br>
                <input type="text" name="muscle_group" placeholder="Muscle grpup" required><br>
                <input type="text" name="muscle" placeholder="Muscle" required><br>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>