<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ subdomain_tag }} - Workout Tracker</title>
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div id="header" style="display: flex; justify-content: center">
            <div id="banner" style="margin-left: 60px">
                <img
                    src="{{ url_for('static', filename='images/logo.png') }}"
                    alt="Banner"
                    style="height: 60px; width: auto"
                />
                <!-- move the h1 into the middle of the banner image -->
            </div>
            <h1 style="position: absolute; bottom: 22%; justify-content: center; margin-left: 60px; font-family: 'Recharge'; color: #ccc">{{ subdomain_tag|upper }}</h1>
        </div>
        <main id="body">
            {% block main %}{% endblock %}
        </main>
        </div>        
        <div id="sidebar" style="width: 60px; transition: 0.5s">
            <a
                href="javascript:void(0)"
                class="close-btn"
                onclick="toggleSidebar()"
                style="margin-left: 9.5px"
            >
                <img src="{{ url_for('static', filename='svg/burger_menu.svg') }}" style="margin-left: 0px;">
            </a>
            <div id="sdb">
                <div id="sdb1">
                    <div class="sidebar-content">
                        <a href="{{ url_for('home') }}">
                            Home
                            <img src="{{ url_for('static', filename='svg/home.svg') }}">
                        </a>
                    </div>
                    <div class="sidebar-content">
                        <a href="{{ url_for('exercises') }}">
                            Exercises
                            <img src="{{ url_for('static', filename='svg/dumbbell.svg') }}">
                        </a>
                    </div>
                    <div class="sidebar-content">
                        <a href="{{ url_for('workout') }}">
                            Workout
                            <img src="{{ url_for('static', filename='svg/list.svg') }}">
                        </a>
                    </div>
                    <div class="sidebar-content">
                        <a href="{{ url_for('progress') }}">
                            Progress
                            <img src="{{ url_for('static', filename='svg/trend_up.svg') }}">
                        </a>
                    </div>
                    <div class="sidebar-content">
                        <a href="{{ url_for('strength') }}">
                            Strength
                            <img src="{{ url_for('static', filename='svg/weight.svg') }}">
                        </a>
                    </div>
                </div>
                <div id="sdb2">
                    <div class="sidebar-content">
                        <a href="{{ url_for('profile') }}">
                            <b><p>{{ session['username'] }}</p></b>
                            {% if session['profile_picture'] != None %}
                            <img
                                src="{{ session['profile_picture'] }}"
                                alt="Profile Picture"
                                style="width: 40px; height: 40px; border-radius: 50%;"
                                id="profile-pic"
                            />
                            {% else %}
                            <img src="{{ url_for('static', filename='svg/profile.svg') }}">
                            {% endif %}
                        </a>
                    </div>
                    <p style="font-size: 7px;">&nbsp;</p>
                    <div class="sidebar-content">
                        <a href="{{ url_for('logout') }}">
                            Logout
                            <img src="{{ url_for('static', filename='svg/leave.svg') }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
