{% extends 'base.html' %}

{% block main %}
            <div id="exercise-list">
                <h1>Exercises</h1>
                <select name="muscle-group-select" id="muscle-group-select">
                    <option value="chest">Chest</option>
                    <option value="back">Back</option>
                    <option value="legs">Legs</option>
                    <option value="shoulders">Shoulders</option>
                    <option value="arms">Arms</option>
                    <option value="abs">Core</option>
                </select>
                <div class="exercise-container" id="chest">
                    <ul>
                        {% for exercise in chest_exercises %}
                        <li><p><b>{{ exercise[1] }}</b> - {{ exercise[3] }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="exercise-container" id="back">
                    <ul>
                        {% for exercise in back_exercises %}
                        <li><p><b>{{ exercise[1] }}</b> - {{ exercise[3] }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="exercise-container" id="legs">
                    <ul>
                        {% for exercise in legs_exercises %}
                        <li><p><b>{{ exercise[1] }}</b> - {{ exercise[3] }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="exercise-container" id="shoulders">
                    <ul>
                        {% for exercise in shoulders_exercises %}
                        <li><p><b>{{ exercise[1] }}</b> - {{ exercise[3] }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="exercise-container" id="arms">
                    <ul>
                        {% for exercise in arms_exercises %}
                        <li><p><b>{{ exercise[1] }}</b> - {{ exercise[3] }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="exercise-container" id="core">
                    <ul>
                        {% for exercise in abs_exercises %}
                        <li><p><b>{{ exercise[1] }}</b> - {{ exercise[3] }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='exercises.js') }}"></script>
{% endblock %}