<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ subdomain_tag }} - Workout Tracker</title>
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div id="header" style="display: flex; justify-content: center">
            <div id="banner" style="margin-left: 60px">
                <img
                    src="{{ url_for('static', filename='logo.png') }}"
                    alt="Banner"
                    style="height: 60px; width: auto"
                />
            </div>
        </div>
        <div id="body">