<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login - Workout Tracker</title>
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div id="header" style="display: flex; justify-content: center">
            <div id="banner" style="margin-left: 60px">
                <img
                    src="{{ url_for('static', filename='logo.png') }}"
                    alt="Banner"
                    style="height: 60px; width: auto"
                />
            </div>
        </div>
        <div id="body">
            <div id="login_register_box">
                <br />
                <h1>Workout Tracker</h1>
                <form action="{{ url_for('login') }}" method="post">
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        required
                    /><br />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                    /><br />
                    <input type="submit" value="Log in" />
                </form>
                <p>
                    Don't have an account?
                    <a href="{{ url_for('register') }}">Register</a>
                </p>
            </div>
        </div>
        <div id="sidebar" style="width: 60px; transition: 0.5s">
            <a
                href="javascript:void(0)"
                class="close-btn"
                onclick="toggleSidebar()"
                style="margin-left: 9.5px"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-menu-2"
                    width="40"
                    height="40"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 6l16 0" />
                    <path d="M4 12l16 0" />
                    <path d="M4 18l16 0" />
                </svg>
            </a>
            <div id="sdb">
                <div class="sidebar-content">
                    <a href="{{ url_for('home') }}">
                        Home
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-home"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                            <path
                                d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                            />
                            <path
                                d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"
                            />
                        </svg>
                    </a>
                </div>
                <div class="sidebar-content">
                    <a href="{{ url_for('exercises') }}">
                        Exercises
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-barbell"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M2 12h1" />
                            <path
                                d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2"
                            />
                            <path
                                d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"
                            />
                            <path d="M9 12h6" />
                            <path
                                d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"
                            />
                            <path
                                d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2"
                            />
                            <path d="M22 12h-1" />
                        </svg>
                    </a>
                </div>
                <div class="sidebar-content">
                    <a href="{{ url_for('workout') }}">
                        Workout
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-notes"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"
                            />
                            <path d="M9 7l6 0" />
                            <path d="M9 11l6 0" />
                            <path d="M9 15l4 0" />
                        </svg>
                    </a>
                </div>
                <div class="sidebar-content">
                    <a href="{{ url_for('progress') }}">
                        Progress
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-trending-up"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 17l6 -6l4 4l8 -8" />
                            <path d="M14 7l7 0l0 7" />
                        </svg>
                    </a>
                </div>
                <div class="sidebar-content">
                    <a href="{{ url_for('strength') }}">
                        Strength
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-weight"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path
                                d="M6.835 9h10.33a1 1 0 0 1 .984 .821l1.637 9a1 1 0 0 1 -.984 1.179h-13.604a1 1 0 0 1 -.984 -1.179l1.637 -9a1 1 0 0 1 .984 -.821z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
