<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="header">
    <div id="banner">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Banner" style="height: 60px; width: auto;">
    </div>
</div>
<div id="body">
<div id="login_register_box">
    <br>
    <h1>Workout Tracker</h1>
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Log in">
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</div>
</div>
<div id="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
    </a>
    <div class="sidebar-content">
        <a href="{{ url_for('home') }}">
        <p>Home</p>
        <img src="{{ url_for('static', filename='home.png') }}" alt="home">
        </a>
    </div>
    <div class="sidebar-content">
        <a href="{{ url_for('exercises') }}">
        <p>Exercises</p>
        <img src="{{ url_for('static', filename='exercises.png') }}" alt="exercises">
        </a>
    </div>
    <div class="sidebar-content">
        <a href="{{ url_for('workout') }}">
        <p>Workout</p>
        <img src="{{ url_for('static', filename='workout.png') }}" alt="workout">
        </a>
    </div>
    <div class="sidebar-content">
        <a href="{{ url_for('strength') }}">
        <p>Strength</p>
        <img src="{{ url_for('static', filename='strength.png') }}" alt="strength">
        </a>
    </div>
</div>


</body>
<script>

</script>
</html>
