{% extends 'base.html' %} {% block main %}
<div id="profile-page">
    <div id="profile-info">
        <h1>Hello, {{ username }}!</h1>
        <h3>Welcome to your profile page. Here you can track your body information and see your strength scores.</h3>
        <div id = "profile-measurement">
            <div class="profile-page-panel">
                <div id="strength-scores">
                    <h2>Strength Scores</h2>
                </div>
                <div class="dropdown-content">
                    <p>Deadlift: {{ deadlift[0] }} - {{ deadlift[1] }}</p>
                    <p>Bench Press: {{ bench_press[0] }} - {{ bench_press[1] }}</p>
                    <p>Squat: {{ squat[0] }} - {{ squat[1] }}</p>
                    <p>Overhead Press: {{ overhead_press[0] }} - {{ overhead_press[1] }}</p>
                    <p>Barbell Row: {{ barbell_row[0] }} - {{ barbell_row[1] }}</p>
                </div>
            </div>
            <div class="profile-page-panel">
                <div id="bodyfat">
                    <h2>Body Fat</h2>
                </div>
                <div class="dropdown-content">
                    <p>Bodyfat: {{ body_fat }}%</p>
                    <p>Left Arm Bodyfat: {{ left_arm_bodyfat }}%</p>
                    <p>Right Arm Bodyfat: {{ right_arm_bodyfat }}%</p>
                    <p>Trunk Bodyfat: {{ trunk_bodyfat }}%</p>
                    <p>Left Leg Bodyfat: {{ left_leg_bodyfat }}%</p>
                    <p>Right Leg Bodyfat: {{ right_leg_bodyfat }}%</p>
                </div>
            </div>
            <div class="profile-page-panel">
                <div id="muscle-mass">
                    <h2>Muscle Mass</h2>
                </div>
                <div class="dropdown-content">
                    <p>Overall Muscle Mass: {{ muscle_mass }} kg</p>
                    <p>Left Arm Muscle Mass: {{ left_arm_muscle }} kg</p>
                    <p>Right Arm Muscle Mass: {{ right_arm_muscle }} kg</p>
                    <p>Trunk Muscle Mass: {{ trunk_muscle }} kg</p>
                    <p>Left Leg Muscle Mass: {{ left_leg_muscle }} kg</p>
                    <p>Right Leg Muscle Mass: {{ right_leg_muscle }} kg</p>
                </div>
            </div>
            <div class="profile-page-panel">
                <div id="body-information">
                    <h2>Body Information</h2>
                </div>
                <div class="dropdown-content">
                    <p>Height: {{ height }} cm</p>
                    <p>Weight: {{ weight }} kg</p>
                </div>
            </div>
        </div>
        <div id="measurements-header">
            <h1>Update Body Measurements</h1>
        </div>
        <div id = "update-measurements">
            <div id = "profile-page-measurements">
                <form action="{{ url_for('profile') }}" method="post">
                    <h3>Segmented body fat percentage</h3>
                    <input
                        type="number"
                        name="body-fat"
                        step="0.01"
                        placeholder="Body fat"
                        min="0"
                        required
                    />
                    <input
                        type="number"
                        name="left-arm-fat"
                        step="0.01"
                        placeholder="Left Arm"
                        min="0"
                    />
                    <input
                        type="number"
                        name="right-arm-fat"
                        step="0.01"
                        placeholder="Right Arm"
                        min="0"
                    />
                    <br />
                    <input
                        type="number"
                        name="trunk-fat"
                        step="0.01"
                        placeholder="Trunk"
                        min="0"
                    />
                    <input
                        type="number"
                        name="left-leg-fat"
                        step="0.01"
                        placeholder="Left Leg"
                        min="0"
                    />
                    <input
                        type="number"
                        name="right-leg-fat"
                        step="0.01"
                        placeholder="Right Leg"
                        min="0"
                    />
                    <h3>Segmented muscle mass</h3>
                    <input
                        type="number"
                        name="muscle"
                        step="0.01"
                        placeholder="Muscle mass"
                        required
                        min="0"
                    />
                    <input
                        type="number"
                        name="left-arm-muscle"
                        step="0.01"
                        placeholder="Left Arm"
                        min="0"
                    />
                    <input
                        type="number"
                        name="right-arm-muscle"
                        step="0.01"
                        placeholder="Right Arm"
                        min="0"
                    />
                    <br />
                    <input
                        type="number"
                        name="trunk-muscle"
                        step="0.01"
                        placeholder="Trunk"
                        min="0"
                    />
                    <input
                        type="number"
                        name="left-leg-muscle"
                        step="0.01"
                        placeholder="Left Leg"
                        min="0"
                    />
                    <input
                        type="number"
                        name="right-leg-muscle"
                        step="0.01"
                        placeholder="Right Leg"
                        min="0"
                    />
                    <br />
                    <h3>Body information</h3>
                    <input
                        type="number"
                        name="height"
                        step="0.01"
                        placeholder="Height"
                        required
                        min="0"
                    />
                    <input
                        type="number"
                        name="weight"
                        step="0.01"
                        placeholder="Weight"
                        required
                        min="0"
                    />
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>

        <form
            action="{{ url_for('change_pfp') }}"
            method="post"
            enctype="multipart/form-data"
        >
            <h2>Change Profile Picture</h2>
            <input
                type="text"
                name="profile_picture_link"
                id="profile_picture_link"
                required
            />
            <input type="submit" value="Upload" />
            <p>Image Preview:</p>
            <img
                src="{{ session['profile_picture'] }}"
                id="img_preview"
                width="100px"
                height="100px"
                style="border-radius: 50%"
            />
        </form>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock %}