{% include 'header.html' %}
                <div id="profile-page">
                    <h1>Profile</h1>
                    <p>Here you can see your profile information.</p>
                    <div id="profile-info">
                        <h2>Username</h2>
                        <p>{{ username }}</p>
                        <h2>Strength Scores</h2>
                        <p>Deadlift: {{ deadlift }}</p>
                        <p>Bench Press: {{ bench_press }}</p>
                        <p>Squat: {{ squat }}</p>
                        <p>Overhead Press: {{ overhead_press }}</p>
                        <p>Barbell Row: {{ barbell_row }}</p>
                        <h2>Bodyfat</h2>
                        <p>{{ body_fat }}</p>
                        <p>{{ left_arm_bodyfat }}</p>
                        <p>{{ right_arm_bodyfat }}</p>
                        <p>{{ trunk_bodyfat }}</p>
                        <p>{{ left_leg_bodyfat }}</p>
                        <p>{{ right_leg_bodyfat }}</p>
                        <h2>Muscle Mass</h2>
                        <p>{{ muscle_mass }}</p>
                        <p>{{ left_arm_muscle }}</p>
                        <p>{{ right_arm_muscle }}</p>
                        <p>{{ trunk_muscle }}</p>
                        <p>{{ left_leg_muscle }}</p>
                        <p>{{ right_leg_muscle }}</p>
                        <h2>Body Information</h2>
                        <p>{{ height }}</p>
                        <p>{{ weight }}</p>
                        <br>
                        <h2>Update Body Measurements</h2>
                        <form action="{{ url_for('profile') }}" method="post">
                            <h3>Segmented body fat percentage</h3>
                            <input
                                type="number"
                                name="body-fat"
                                placeholder="Body fat"
                                required
                            />
                            <input
                                type="number"
                                name="left-arm-fat"
                                placeholder="Left Arm"
                            />
                            <input
                                type="number"
                                name="right-arm-fat"
                                placeholder="Right Arm"
                            />
                            <input
                                type="number"
                                name="trunk-fat"
                                placeholder="Trunk"
                            />
                            <input
                                type="number"
                                name="left-leg-fat"
                                placeholder="Left Leg"
                            />
                            <input
                                type="number"
                                name="right-leg-fat"
                                placeholder="Right Leg"
                            />
                            <h3>Segmented muscle mass</h3>
                            <input
                                type="number"
                                name="muscle"
                                placeholder="Muscle mass"
                                required
                            />
                            <input
                                type="number"
                                name="left-arm-muscle"
                                placeholder="Left Arm"
                            />
                            <input
                                type="number"
                                name="right-arm-muscle"
                                placeholder="Right Arm"
                            />
                            <input
                                type="number"
                                name="trunk-muscle"
                                placeholder="Trunk"
                            />
                            <input
                                type="number"
                                name="left-leg-muscle"
                                placeholder="Left Leg"
                            />
                            <input
                                type="number"
                                name="right-leg-muscle"
                                placeholder="Right Leg"
                            />
                            <br>
                            <h3>Body information</h3>
                            <input
                                type="number"
                                name="height"
                                placeholder="Height"
                                required
                            />
                            <input
                                type="number"
                                name="weight"
                                placeholder="Weight"
                                required
                            />
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
        {% include 'sidebar.html' %}
    </body>
</html>
