<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Exercises</a></li>
            <li><a href="#">Workout</a></li>
            <li><a href="#">Progress</a></li>
            <li><a href="#">Strength</a></li>
        </ul>
    </div>
</div>

<div id="login_register_box">
    <br>
    <h1>Workout Tracker</h1>
    <form action="{{ url_for('register') }}" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="password2" placeholder="Confirm Password" required><br>
        <input type="submit" value="Register">
    </form>
    <p>Have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>

</body>
<script>
    function formSizeIncrease(){
        document.getElementById("login_register_box").style.height = "450px";
    };
    formSizeIncrease();
</script>
</html>
