{% extends 'base.html' %}

{% block main %}
            <div id="login_register_box" style="height: 450px;">
                <br />
                <h1>Workout Tracker</h1>
                <form action="{{ url_for('register') }}" method="post">
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        required
                    /><br />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                    /><br />
                    <input
                        type="password"
                        name="password2"
                        placeholder="Confirm Password"
                        required
                    /><br />
                    <input type="submit" value="Register" />
                </form>
                <p>
                    Have an account? <a href="{{ url_for('login') }}">Login</a>
                </p>
            </div>
        </div>
        {% endblock %}

 {% block scripts %}
 {% endblock %}