<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Workout Tracker</title>
        <script src="../static/script.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('workout') }}">Workout</a></li>
                <li><a href="#">Progress</a></li>
                <li><a href="#">Strength</a></li>
                {% if 'username' in session %}
                {% if session['username'] == 'Michu' %}
                <li><a href="{{ url_for('admin') }}">Admin page</a></li>
                {% endif %}
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
        {% if 'username' in session %}
        <div id="profile">
            <a href="{{ url_for('home') }}">
                <b><p>{{ session['username'] }}</p></b>
            </a>
        </div>
        {% endif %}
    </div>
    <div id="workout">
        <div class="exercise-container">
            <label for="exerciseSelect">Exercise:</label>
            <select id="exerciseSelect">
                <option value="exercise1">Exercise 1</option>
                <option value="exercise2">Exercise 2</option>
            </select>
            <label for="setsInput">Sets:</label>
            <input type="number" id="setsInput" min="1" value="1">
            <button onclick="addSetsFields()">Add exercise</button>
        </div>
        
        <div id="setsFieldsContainer"></div>
        <br>
        <br>
        <div id="exercise-list"></div>
        <br>
        <button onclick="saveWorkout()">Save Workout</button>
    </div>
</body>
</html>