{% include 'header.html' %}
            <div id="workout">
                <h1>Workout</h1>
                <label for="dateInput">Date:</label>
                <input type="date" id="dateInput" style="width: 130px" />
                <br />
                <div class="exercise-container">
                    <label for="exerciseSelect">Exercise:</label>
                    <select id="exerciseSelect" style="width: 150px">
                        {% for exercise in exercises %}
                        <option value="{{ exercise }}">{{ exercise }}</option>
                        {% endfor %}
                    </select>
                    <label for="setsInput">Sets:</label>
                    <input type="number" id="setsInput" min="1" value="1" />
                    <button onclick="addSetsFields()">Add exercise</button>
                </div>

                <div id="setsFieldsContainer"></div>

                <div id="exercise-list"></div>
                <button onclick="saveWorkout()">Save Workout</button>

                <div id="return-form" style="display: none">
                    <form action="{{ url_for('workout') }}" method="post">
                        <input type="date" name="date" id="date" />
                        <input type="text" name="exercises" id="exercises" />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
        {% include 'sidebar.html' %}
    </body>
    <script src="{{ url_for('static', filename='workout.js') }}"></script>
</html>
